A.PageSelector
{
	font-weight: bold;
	font-size: 9pt;
	font-family: Tahoma, Verdana;
	letter-spacing: 2pt;
	background-color: transparent;
}

A.PageSelector:visited
{
	color: #9c0001;
	text-decoration:	none;
}
A.PageSelector:link
{
	color: #9c0001;
	text-decoration:	none;
}
A.PageSelector:hover
{
	color: white;
	text-decoration:	none;
}
A.PageSelector:active
{
	color: #9c0001;
	text-decoration:	none;
}
A.TopLink
{
	font-weight: bold;
	font-size: 9pt;
}
A.TopLink:active
{
	color: White;
	text-decoration:	none;
}
A.TopLink:link
{
	color: White;
	text-decoration:	none;
}
A.TopLink:visited
{
	color: White;
	text-decoration:	none;
}
A.TopLink:hover
{
	font-weight: bold;
	color: white;
	text-decoration: none;
}
.delimiter
{
	background-color: #d3c9c7;
	FONT-WEIGHT: bold; 
	font-size:10pt;
	color:#9c0001;
	
}
.DescriptionField
{
	font-size:7pt;
	font-style:italic;
}
.HeaderField
{
	font-weight: bold;
	font-size: 10pt;
	font-family: Tahoma, Verdana;
	background-color: #dfa894;
}
.DetailField
{
	font-size: 8pt;
}
.Field
{
	margin-top: 4px;
	font-size: 9pt;
	margin-bottom: 5px;
	margin-left: 5px;
	font-family: Tahoma, Verdana;
	background-color: #fcf8f6;
}
.Unit
{
FONT-WEIGHT: bold; 
FONT-SIZE: 8pt;
COLOR: #998080;
FONT-FAMILY: Tahoma, Verdana;
LETTER-SPACING: 1pt; 
BACKGROUND-COLOR: papayawhip;
border-bottom: #3399FF 1px solid;
border-top: #3399FF 1px solid;
height :18px;
}
.Unit1
{
FONT-WEIGHT: bold; 
FONT-SIZE: 9pt;
COLOR: #998080;
FONT-FAMILY: Tahoma, Verdana;
LETTER-SPACING: 1pt; 
BACKGROUND-COLOR: #9c0001;
}

.List
{
	border-right: #d3c9c7 1px;
	border-top: #d3c9c7 1px;
	border-left: #d3c9c7 1px;
	width: 98%;
	border-bottom: #d3c9c7 1px;
	background-color: white;
}
.ShiftDown
{
	position: relative;
	top: 5px;
}
/*BackColor="White" BorderColor="#CC9966" BorderWidth="1px" BorderStyle="None"  
/* Default CSS Stylesheet for a new Web Application project */

BODY
{
    BACKGROUND-COLOR: #FCF8fc;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    FONT-SIZE: .8em;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal
}

H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
    COLOR: #003366;
}
H1	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	2em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H2	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.75em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H3	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.58em;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H4	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1.33em;
	font-weight:	500;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H5, DT	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	1em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
H6	{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	.8em;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}	
		
TFOOT, THEAD	{	
	font-size:	1em;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	
		
TH	{	
	vertical-align:	baseline;
	font-size:	1em;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	


A:link	{	
	text-decoration:	none;
	color:	#3333cc;
	}	
		
A:visited	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
A:active	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
A:hover	{	
	text-decoration:	underline;
	color:	#3333cc;
	}
	
SMALL	{	
	font-size:	.7em;
	}	

BIG	{	
	font-size:	1.17em;
	}	

BLOCKQUOTE, PRE	{	
	font-family:	Courier New, monospace;
	}	
	

UL LI	{	
	list-style-type:	square ;
	}	

UL LI LI	{	
	list-style-type:	disc;
	}	

UL LI LI LI	{	
	list-style-type:	circle;
	}	
	
OL LI	{	
	list-style-type:	decimal;
	}	

OL OL LI	{	
	list-style-type:	lower-alpha;
	}	

OL OL OL LI	{	
	list-style-type:	lower-roman;
	}	

IMG 	{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	}
A.PanelHider
{
	font-size: 8pt;
	position:relative;
	left:-16px;
}
A.PanelHider:active
{
	color: #0066CC;
	text-decoration: none;
}
A.PanelHider:link
{
	color: #0066CC;
	text-decoration: none;
}
A.PanelHider:visited
{
	color: #0066CC;
	text-decoration: none;
}
A.PanelHider:hover
{
	color: #0066CC;
	text-decoration: none;
}
A.LinkButton
{
	font-size: 8pt;
}
A.LinkButton:active
{
	color: #0066CC;
	text-decoration: none;
}
A.LinkButton:link
{
	color: #0066CC;
	text-decoration: none;
}
A.LinkButton:visited
{
	color: #0066CC;
	text-decoration: none;
}
A.LinkButton:hover
{
	color: #0066CC;
	text-decoration: none;
}


A.LinkButtonExport
{
    font-size: 10pt;
}
A.LinkButtonExport:active
{
    color: #0066CC;
    text-decoration: none;
}
A.LinkButtonExport:link
{
    color: #0066CC;
    text-decoration: none;
}
A.LinkButtonExport:visited
{
    color: #0066CC;
    text-decoration: none;
}
A.LinkButtonExport:hover
{
    color: #0066CC;
    text-decoration: none;
}
.SubTitleTextbox
{
	font-size: 10pt;
	font-style: italic;
	position: relative;
	top: 1px;
}
.TitleTextbox
{
	font-size: 7pt;
	position: relative;
	left: 1px;
	width: 80pt;
}
.SubTitleEditbox 
{
	font-size: 7pt;
	font-style: italic;
	position: relative;
	top: 2px;
	MARGIN-TOP: 0px; 
	MARGIN-BOTTOM: 0px; 
	TEXT-ALIGN: left;
}
.borders
{
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}
.ShiftRight3
{
	left: 3px;
	position: relative;
}
.Delimeter
{
	border-top: fuchsia thick double;
}
.Caption
{
	font-size: 9pt;
}
.SubCaption
{
	font-size: 7pt;
	font-style: italic;
	height :14px
}
.CutImageLink
{
	margin-left: -10px;
	margin-right: -11px;
}
.cust 
{
	BORDER-TOP: gray 1px solid; 
	FONT-SIZE: 9pt; 
}
.cash 
{ 
	color: #998081 ;
	height:14px;
	FONT-SIZE: 7pt
}
.cashDetail 
{ 
	color: black ;
	height:14px;
	FONT-SIZE: 8pt
}
.LoginBox
{
	display: block;
	left: 10px;
	position: absolute;
	top: 17px;
}
.lstLineUp
{
	height: 18px;
	position: relative;
	top: 1;
}
.hiddencitylist1
{
	position: absolute;
	display: none;
	top: 500px;
	left: 280px;
}
.hiddencitylist2
{
	display: none;
	left: 130px;
	position: absolute;
	top: 240px;
}
.hiddencitylist3
{
	display: none;
	left: 290px;
	position: absolute;
	top: 190px;
}
.hiddenCountrylist
{
	display: none;
	position: absolute;
	left: 730px;
	top:140px;
}
.headerGrid
{
	background-color : #990000;
	font-size : 8pt;
	text-align :center ;
	color : #FFFFCC;
}

.footerGrid
{
	background-color : #FFFFCC;
	font-size : 8pt;
	color : #330099;
}
.itemGrid
{
	font-family : Verdana;
	font-size : 8pt;
	color :Black ;
}
.alternativeitemGrid
{
	background-color : #FCF8F6;
	font-family : Verdana;
	font-size : 8pt;
	color :Black ;
}
.pagerGrid
{
	font-family : Verdana;
	font-size : 9pt;
	text-align :center ;
}
.SectionRow
{
	border-bottom: white 2px solid;
	height: 25px;
}
.SectionRowLabel
{
	padding-left: 20px;
	border-bottom: white 2px solid;
	font-size : 11px;
	height: 25px;
}
.CalendarButton
{
	font-size: 10px;
	font-weight: bold;
	background-color: #d3c9c7;
	border-color: #DEE2EE;
	color: #9c0001;
	height: 19px;
}

A.TreeView
{
	
	font-family : Verdana;
	font-size : 8pt;
	letter-spacing: 2pt;
	background-color: transparent;
}

A.TreeView:visited
{
	color: #9c0001;
	text-decoration:	none;
}
A.TreeView:link
{
	color: #9c0001;
	text-decoration:	none;
}
A.TreeView:hover
{
	color: #9c0001;
	text-decoration:	none;
}
.CalendarTableRow
{
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-right: black 1px solid;
	border-bottom: black 1px solid;
	color: #474747;
	background-color: papayawhip;
	font-size: 10px;
}
.text02
{
	font-size: 12px;
	
}
td.PageTitle
{
	color: white;
	background-color: #d3c9c7;
	vertical-align: middle; 
	height: 20px;
	border-top: white 1px solid;
	padding-left: 10px;
}
.PageTitle
{
	font-size: 10px;
	font-weight: bold;
}
td.HeaderTitle
{
	color: Navy;
	background-color: #d3c9c7;
	vertical-align: middle; 
	font-family: Tahoma, Verdana;
	height: 18px;
	border-top: white 1px solid;
	border-bottom: Navy 1px solid;
	padding-left: 10px;
}
.HeaderTitle
{
	
	font-size: 12px;
	font-weight: bold;
}

td.HeaderPage
{
	color: white;
	background-color: #9c0001;
	vertical-align: middle; 
	height: 20px;
	border-top: white 1px solid;
	padding-left: 10px;
}
.HeaderPage
{
	font-size: 12px;
	font-weight: bold;
}
.FooterPage
{
	color: white;
	background-color: #9c0001;
	vertical-align: middle; 
	height: 20px;
	border-top: white 1px solid;
	padding-left: 10px;
}
.copyright
{
	font-size: 10px;
	color: white;
	background-color: #9c0001;
	vertical-align: middle; 
	height: 20px;
	border-top: white 1px solid;
	padding-left: 10px;
}

#parent {
    padding: 5% 0;
}

#child {
    padding: 10% 0;
}

.buttonCalendar .calendar {
    display: none;
}

.buttonCalendar {
    height: 20px;
    width: 20px;
    background-color: red;
    content: "Date"
}

.buttonCalendar:focus > .calendar {
    display: table;
}

/*date pije*/